@import '../CSS/variables.css';

body {
    font-family: var(--font-family-header);
    margin: 0;
}

.header {
    display: flex;
    align-items: stretch;
    color: white;
    margin: var(--container-spacing);
    height: 9vh;
}

.header > div,
.header > .container-botones {
    padding: 0 1vw;
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.container-titulo-header,
.container-botones,
.container-usuario,
.container-cerrar-btn {
    border-radius: var(--border-radius);
    background: var(--header-color);
    height: 100%;
}

.container-titulo-header,
.container-botones,
.container-usuario {
    margin-right: 2vh;
}

.container-titulo-header,
.container-usuario,
.container-cerrar-btn {
    justify-content: center;
}

.container-titulo-header {
    width: 15vw;
    flex-grow: 0 !important;
}

.titulo-header {
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: var(--font-size-2xl);
    line-height: 1.5rem;
    font-weight: var(--font-weight-bold);
}

.container-lista-botones {
    height: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    display: flex;
}

.boton-link {
    display: flex;
    align-items: center;
    margin-right: 1.5vw;

    &:first-child {
        margin-left: 1vw;
    }
}

.boton-link a,
.boton-link button {
    font-family: var(--font-family-header);
    text-decoration: none;
    height: 80%;
    display: flex;
    align-items: center;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: var(--font-size-base);
    border-radius: var(--border-radius);
}

.boton-link button:hover {
    background-color: white;
    color: var(--text-color);
}

.boton-link button.active {
    background-color: #555;
    color: white;
}

.usuario {
    font-family: var(--font-family-header);
    color: white;
    text-decoration: none;
    font-size: var(--font-size-base);
}

.container-cerrar-btn {
    background-color: var(--delete-button-color);
    width: 3.5vw;
    flex-grow: 0 !important;

    &:hover {
        background-color: var(--delete-button-hover);
    }
}

.cerrar-btn {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
}

.cerrar-btn button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 2vh;
}

.header-telefono {
    display: none;
}

.container-titulo-sidebarbtn {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--header-color);
    height: 5vh;
    margin-bottom: 2vh;
}

.header-telefono {
    display: none;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--header-color);
    padding-top: 6vh;
    z-index: 1000;
    overflow-x: hidden;
    transition: var(--transition-base);
}

.espacio-sidebar {
    height: 7vh;
    display: block;
}

.sidebar a {
    padding: 1rem 2rem;
    text-decoration: none;
    font-size: var(--font-size-xl);
    color: white;
    display: block;
    transition: 0.3s;
}

#usuario-sidebar {
    font-size: 2rem;
    font-weight: bold;
}

.sidebar .close-sidebar {
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.8rem 1rem;
    font-size: 2.5rem;
    cursor: pointer;
}

.open-sidebar {
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    border: none;
    background-color: #001a37;
}

.cerrar-btn-telefono {
    background-color: rgb(255, 30, 30);
    position: absolute;
    bottom: 10%;
    margin-left: 2rem;
    border-radius: 1vw;
    padding: 0.8rem 1.3rem !important;
}

@media screen and (max-width: 1600px) {
    .header {
        height: 11vh;
    }
}

@media (max-width: 1420px) {
    .titulo-header {
        font-size: var(--font-size-xl);
    }
}

@media (max-width: 820px) {
    .sidebar {
        width: 0;
    }

    .header {
        display: none;
    }

    .header-telefono {
        display: block;
    }

    .openbtn {
        display: block;
    }
}