@import '../../CSS/variables.css';

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: var(--transition-base);
}

.modal.show {
    opacity: 1;
}

.modal-content {
    max-height: 80%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    padding: 2rem;
    border-radius: var(--border-radius);
    opacity: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: var(--transition-base);
}

.modal.show .modal-content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

/* Variantes de tamaño */
.modal-content.small {
    width: 30%;
}

.modal-content.medium {
    width: 40%;
}

.modal-content.large {
    width: 50%;
    padding-bottom: 0;
    overflow-y: auto;
}

.close {
    position: absolute;
    top: 0;
    right: .6rem;
    color: #aaa;
    float: right;
    font-size: var(--font-size-2xl);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    transition: var(--transition-base);
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* titulo de la observación */
.label-observaciones {
    letter-spacing: .01785714em;
    font-family: system-ui;
    font-weight: 600;
    font-size: var(--font-size-xl);
    color: var(--text-color);
}

/* estilo del textarea */
.observacion-input {
    color: #555;
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    font-size: var(--font-size-base);
    font-weight: 500;
    width: 98%;
    margin: .5rem 0 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: clamp(.4rem, .4vw, .4rem);
    resize: none;
}

/* estilo del boton guardar */
.guardar-button {
    display: flex;
    font-size: var(--font-size-lg);
    font-family: "Google Sans", Roboto, Arial, sans-serif;
    padding: 0.7rem 3rem;
    background-color: #123773;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: clamp(.4rem, .4vw, .4rem);
    margin: auto;
}

.guardar-button.disabled {
    background-color: grey;
    cursor: not-allowed;
    opacity: 0.6;
}

@media (max-width: 770px) {
    .modal-content.large, 
    .modal-content.medium, 
    .modal-content.small {
        width: 75%;
    }
} 